PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE interns(id int Primary Key,name Text,track Text,stipend int);
INSERT INTO interns VALUES(1,'Achinthya','Data Science',15000);
INSERT INTO interns VALUES(2,'Ankitha','Web Development',12000);
INSERT INTO interns VALUES(3,'Anika','Data Science',18000);
COMMIT;
